USERNAME=User
PASSWORD=VeryStrongPasswordThatImpossibleToBruteforce
IP=127.0.0.1
PORT=5432
DBNAME=DatabaseName
REGION=region_of_bucket
AWS_ACCESS_ID=account_id_from_options_or_something
AWS_TENANT=bucket_tenant
AWS_SECRET_ACCESS_KEY=secret_key_from_options_or_something
ENDPOINT_URL=endpoint_url_of_aws
BUCKET=name_of_bucket